-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: pointofsale
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `detail_pembelian`
--

DROP TABLE IF EXISTS `detail_pembelian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detail_pembelian` (
  `pembelian_Id` int(11) NOT NULL,
  `kode_produk` int(11) NOT NULL,
  `jumlah` decimal(12,3) NOT NULL,
  `uuid` char(36) NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  UNIQUE KEY `uk_detail_pembelian_uuid` (`uuid`),
  KEY `kode_produk` (`kode_produk`),
  KEY `pembelian_Id` (`pembelian_Id`),
  CONSTRAINT `detail_pembelian_ibfk_1` FOREIGN KEY (`kode_produk`) REFERENCES `produk` (`kode_produk`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `detail_pembelian_ibfk_2` FOREIGN KEY (`pembelian_Id`) REFERENCES `pembelian` (`pembelian_Id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_pembelian`
--

LOCK TABLES `detail_pembelian` WRITE;
/*!40000 ALTER TABLE `detail_pembelian` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_pembelian` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER restock
AFTER INSERT ON detail_pembelian
FOR EACH ROW
BEGIN
  UPDATE produk
  SET stok_produk = stok_produk + NEW.jumlah
  WHERE kode_produk = NEW.kode_produk;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `detail_penjualan`
--

DROP TABLE IF EXISTS `detail_penjualan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detail_penjualan` (
  `jumlah` decimal(12,3) NOT NULL,
  `Subtotal` int(11) NOT NULL,
  `kode_produk` int(11) NOT NULL,
  `penjualan_Id` int(11) NOT NULL,
  `uuid` char(36) NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  UNIQUE KEY `uk_detail_penjualan_uuid` (`uuid`),
  KEY `penjualan_Id` (`penjualan_Id`),
  KEY `produkIDIndex` (`kode_produk`),
  KEY `kode_produk` (`kode_produk`),
  CONSTRAINT `detail_penjualan_ibfk_2` FOREIGN KEY (`penjualan_Id`) REFERENCES `penjualan` (`penjualan_Id`),
  CONSTRAINT `detail_penjualan_ibfk_3` FOREIGN KEY (`kode_produk`) REFERENCES `produk` (`kode_produk`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_penjualan`
--

LOCK TABLES `detail_penjualan` WRITE;
/*!40000 ALTER TABLE `detail_penjualan` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_penjualan` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER kurangiStok
BEFORE INSERT ON detail_penjualan
FOR EACH ROW
BEGIN
  UPDATE produk
  SET stok_produk = stok_produk - NEW.jumlah
  WHERE kode_produk = NEW.kode_produk;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `kategori`
--

DROP TABLE IF EXISTS `kategori`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kategori` (
  `kategori_Id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_kategori` varchar(30) NOT NULL,
  `no_rak` int(11) NOT NULL,
  `uuid` char(36) NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`kategori_Id`),
  UNIQUE KEY `uk_kategori_uuid` (`uuid`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategori`
--

LOCK TABLES `kategori` WRITE;
/*!40000 ALTER TABLE `kategori` DISABLE KEYS */;
INSERT INTO `kategori` VALUES (1,'ewsdffsd',23423423,'56c97b64-9fbb-11f1-b12a-5414f34ebfff','2026-08-24 12:57:18');
/*!40000 ALTER TABLE `kategori` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `laporan_penjualan`
--

DROP TABLE IF EXISTS `laporan_penjualan`;
/*!50001 DROP VIEW IF EXISTS `laporan_penjualan`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `laporan_penjualan` AS SELECT
 1 AS `penjualan_Id`,
  1 AS `tanggal_penjualan`,
  1 AS `total_pembayaran`,
  1 AS `nama_user` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `merek`
--

DROP TABLE IF EXISTS `merek`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `merek` (
  `merek_Id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_merek` varchar(30) NOT NULL,
  `uuid` char(36) NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`merek_Id`),
  UNIQUE KEY `uk_merek_uuid` (`uuid`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `merek`
--

LOCK TABLES `merek` WRITE;
/*!40000 ALTER TABLE `merek` DISABLE KEYS */;
INSERT INTO `merek` VALUES (1,'234234','56ce8b04-9fbb-11f1-b12a-5414f34ebfff','2026-08-24 12:57:18');
/*!40000 ALTER TABLE `merek` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `nota_penjualan`
--

DROP TABLE IF EXISTS `nota_penjualan`;
/*!50001 DROP VIEW IF EXISTS `nota_penjualan`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `nota_penjualan` AS SELECT
 1 AS `kode_produk`,
  1 AS `user_Id`,
  1 AS `penjualan_Id`,
  1 AS `tanggal_penjualan`,
  1 AS `Total_pembayaran`,
  1 AS `uang_diterima`,
  1 AS `uang_kembalian`,
  1 AS `jumlah`,
  1 AS `Subtotal`,
  1 AS `nama_user`,
  1 AS `nama_produk`,
  1 AS `harga_jual` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `pembelian`
--

DROP TABLE IF EXISTS `pembelian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pembelian` (
  `pembelian_Id` int(11) NOT NULL,
  `tanggal_pembelian` date NOT NULL,
  `user_Id` int(11) NOT NULL,
  `uuid` char(36) NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`pembelian_Id`),
  UNIQUE KEY `uk_pembelian_uuid` (`uuid`),
  KEY `user_Id` (`user_Id`),
  CONSTRAINT `pembelian_ibfk_1` FOREIGN KEY (`user_Id`) REFERENCES `users` (`user_Id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembelian`
--

LOCK TABLES `pembelian` WRITE;
/*!40000 ALTER TABLE `pembelian` DISABLE KEYS */;
/*!40000 ALTER TABLE `pembelian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penjualan`
--

DROP TABLE IF EXISTS `penjualan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `penjualan` (
  `penjualan_Id` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal_penjualan` date NOT NULL,
  `Total_pembayaran` int(50) NOT NULL,
  `uang_diterima` int(50) NOT NULL,
  `uang_kembalian` int(50) NOT NULL,
  `user_Id` int(11) NOT NULL,
  `keuntungan` int(11) DEFAULT 0,
  `uuid` char(36) NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`penjualan_Id`),
  UNIQUE KEY `uk_penjualan_uuid` (`uuid`),
  KEY `user_Id` (`user_Id`),
  CONSTRAINT `penjualan_ibfk_1` FOREIGN KEY (`user_Id`) REFERENCES `users` (`user_Id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penjualan`
--

LOCK TABLES `penjualan` WRITE;
/*!40000 ALTER TABLE `penjualan` DISABLE KEYS */;
/*!40000 ALTER TABLE `penjualan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produk`
--

DROP TABLE IF EXISTS `produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produk` (
  `kode_produk` int(30) NOT NULL,
  `nama_produk` varchar(30) NOT NULL,
  `harga_beli` int(11) NOT NULL,
  `stok_produk` decimal(12,3) NOT NULL,
  `harga_jual` int(11) NOT NULL,
  `supplier_Id` int(11) NOT NULL,
  `kategori_Id` int(11) NOT NULL,
  `merek_Id` int(11) NOT NULL,
  `satuan_Id` int(11) NOT NULL,
  `uuid` char(36) NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`kode_produk`),
  UNIQUE KEY `uk_produk_uuid` (`uuid`),
  KEY `NamaProdukIndex` (`nama_produk`),
  KEY `kategori_Id` (`kategori_Id`),
  KEY `merek_Id` (`merek_Id`),
  KEY `supplier_Id` (`supplier_Id`),
  KEY `fk_produk_satuan` (`satuan_Id`),
  CONSTRAINT `fk_produk_satuan` FOREIGN KEY (`satuan_Id`) REFERENCES `satuan` (`satuan_Id`),
  CONSTRAINT `produk_ibfk_1` FOREIGN KEY (`kategori_Id`) REFERENCES `kategori` (`kategori_Id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `produk_ibfk_2` FOREIGN KEY (`merek_Id`) REFERENCES `merek` (`merek_Id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `produk_ibfk_3` FOREIGN KEY (`supplier_Id`) REFERENCES `supplier` (`supplier_Id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produk`
--

LOCK TABLES `produk` WRITE;
/*!40000 ALTER TABLE `produk` DISABLE KEYS */;
INSERT INTO `produk` VALUES (115334709,'milk',100,199.000,200,1,1,1,9,'56a0062d-9fbb-11f1-b12a-5414f34ebfff','2026-08-24 13:07:15'),(502133362,'mangos ',120,96.000,200,1,1,1,1,'56a00f2b-9fbb-11f1-b12a-5414f34ebfff','2026-08-24 13:07:15'),(610340664,'apple',3432,324217.000,23432,1,1,1,1,'56a00fbd-9fbb-11f1-b12a-5414f34ebfff','2026-08-24 12:57:18'),(999001001,'uuid-smoke-test',50,10.000,100,1,1,1,1,'fb5c0531-162e-4b01-94b6-512f333e209b','2026-08-24 13:07:15');
/*!40000 ALTER TABLE `produk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `satuan`
--

DROP TABLE IF EXISTS `satuan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `satuan` (
  `satuan_Id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_satuan` varchar(20) NOT NULL,
  `allow_decimal` tinyint(1) NOT NULL DEFAULT 0,
  `uuid` char(36) NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`satuan_Id`),
  UNIQUE KEY `uk_nama_satuan` (`nama_satuan`),
  UNIQUE KEY `uk_satuan_uuid` (`uuid`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `satuan`
--

LOCK TABLES `satuan` WRITE;
/*!40000 ALTER TABLE `satuan` DISABLE KEYS */;
/*!40000 ALTER TABLE `satuan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplier`
--

DROP TABLE IF EXISTS `supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supplier` (
  `supplier_Id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_supplier` varchar(30) NOT NULL,
  `alamat_supplier` varchar(255) NOT NULL,
  `telp_supplier` varchar(13) NOT NULL,
  `uuid` char(36) NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`supplier_Id`),
  UNIQUE KEY `uk_supplier_uuid` (`uuid`),
  KEY `NamaSupplierIndex` (`nama_supplier`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplier`
--

LOCK TABLES `supplier` WRITE;
/*!40000 ALTER TABLE `supplier` DISABLE KEYS */;
INSERT INTO `supplier` VALUES (1,'sdfs','fsdfsdf','32432423432','56d39aa8-9fbb-11f1-b12a-5414f34ebfff','2026-08-24 12:57:18');
/*!40000 ALTER TABLE `supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `tableproduk`
--

DROP TABLE IF EXISTS `tableproduk`;
/*!50001 DROP VIEW IF EXISTS `tableproduk`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `tableproduk` AS SELECT
 1 AS `kode_produk`,
  1 AS `nama_produk`,
  1 AS `harga_beli`,
  1 AS `harga_jual`,
  1 AS `stok_produk`,
  1 AS `satuan_Id`,
  1 AS `nama_satuan`,
  1 AS `allow_decimal`,
  1 AS `nama_supplier`,
  1 AS `nama_kategori`,
  1 AS `nama_merek` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `tableusers`
--

DROP TABLE IF EXISTS `tableusers`;
/*!50001 DROP VIEW IF EXISTS `tableusers`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `tableusers` AS SELECT
 1 AS `user_Id`,
  1 AS `nama_user`,
  1 AS `alamat_user`,
  1 AS `telp_user`,
  1 AS `username_user`,
  1 AS `level_user`,
  1 AS `status_user` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_Id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_user` varchar(30) NOT NULL,
  `alamat_user` varchar(30) NOT NULL,
  `telp_user` varchar(13) NOT NULL,
  `username_user` varchar(30) NOT NULL,
  `password_user` varchar(255) NOT NULL,
  `level_user` varchar(30) NOT NULL,
  `status_user` varchar(30) NOT NULL,
  PRIMARY KEY (`user_Id`),
  UNIQUE KEY `uk_username` (`username_user`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','-','-','admin','admin','PEMILIK','AKTIF'),(2,'karyawan','-','-','karyawan','karyawan','KARYAWAN','AKTIF');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'pointofsale'
--
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `JumlahPenjualan` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `JumlahPenjualan`(IN `tanggalPenjualan` DATE, OUT `JumlahPenjualan` INT)
BEGIN

    SELECT COUNT(*) INTO JumlahPenjualan

    FROM penjualan

    WHERE DATE(tanggal_penjualan) = tanggalPenjualan;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `Keuntungan` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `Keuntungan`(IN `tanggalPenjualan` DATE, OUT `totalKeuntungan` DECIMAL(10,2))
BEGIN

    SELECT SUM((p.harga_jual - p.harga_beli) * dp.jumlah) INTO totalKeuntungan

    FROM detail_penjualan dp

    JOIN produk p ON dp.kode_produk = p.kode_produk

    JOIN penjualan j ON dp.penjualan_Id = j.penjualan_Id

    WHERE DATE(j.tanggal_penjualan) = tanggalPenjualan;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `ProductKurangDari` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `ProductKurangDari`(IN `input_stok` INT)
BEGIN
    SELECT *
    FROM produk
    WHERE stok_produk < input_stok;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `ProdukKurangDari` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `ProdukKurangDari`(IN `input_stok` INT)
BEGIN

    SELECT *

    FROM produk

    WHERE stok_produk < input_stok;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `QuantityPenjualan` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `QuantityPenjualan`(IN `tanggalPenjualan` DATE, OUT `QuantityPenjualan` INT)
BEGIN
    SELECT COUNT(*) INTO QuantityPenjualan
    FROM penjualan
    WHERE DATE(tanggal_penjualan) = tanggalPenjualan;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `TopProduct` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `TopProduct`(IN `input_count` INT)
BEGIN
    SELECT p.*
    FROM produk p
    INNER JOIN (
        SELECT kode_produk
        FROM nota_penjualan
        GROUP BY kode_produk
        ORDER BY SUM(jumlah) DESC
        LIMIT input_count
    ) AS top ON p.kode_produk = top.kode_produk;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `TopProduk` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `TopProduk`(IN `input_count` INT)
BEGIN

    SELECT p.*

    FROM produk p

    INNER JOIN (

        SELECT kode_produk

        FROM nota_penjualan

        GROUP BY kode_produk

        ORDER BY SUM(jumlah) DESC

        LIMIT input_count

    ) AS top ON p.kode_produk = top.kode_produk;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `TotalPendapatan` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `TotalPendapatan`(IN `tanggalPenjualan` DATE, OUT `totalHargaPenjualan` DECIMAL(10,2))
BEGIN

    SELECT SUM(total_Pembayaran) INTO totalHargaPenjualan

    FROM penjualan

    WHERE DATE(tanggal_penjualan) = tanggalPenjualan;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Final view structure for view `laporan_penjualan`
--

/*!50001 DROP VIEW IF EXISTS `laporan_penjualan`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `laporan_penjualan` AS select `p`.`penjualan_Id` AS `penjualan_Id`,`p`.`tanggal_penjualan` AS `tanggal_penjualan`,`p`.`Total_pembayaran` AS `total_pembayaran`,`u`.`nama_user` AS `nama_user` from (`penjualan` `p` join `users` `u` on(`p`.`user_Id` = `u`.`user_Id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `nota_penjualan`
--

/*!50001 DROP VIEW IF EXISTS `nota_penjualan`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `nota_penjualan` AS select `detail_penjualan`.`kode_produk` AS `kode_produk`,`penjualan`.`user_Id` AS `user_Id`,`penjualan`.`penjualan_Id` AS `penjualan_Id`,`penjualan`.`tanggal_penjualan` AS `tanggal_penjualan`,`penjualan`.`Total_pembayaran` AS `Total_pembayaran`,`penjualan`.`uang_diterima` AS `uang_diterima`,`penjualan`.`uang_kembalian` AS `uang_kembalian`,`detail_penjualan`.`jumlah` AS `jumlah`,`detail_penjualan`.`Subtotal` AS `Subtotal`,`users`.`nama_user` AS `nama_user`,`produk`.`nama_produk` AS `nama_produk`,`produk`.`harga_jual` AS `harga_jual` from (((`penjualan` join `detail_penjualan` on(`penjualan`.`penjualan_Id` = `detail_penjualan`.`penjualan_Id`)) join `users` on(`penjualan`.`user_Id` = `users`.`user_Id`)) join `produk` on(`detail_penjualan`.`kode_produk` = `produk`.`kode_produk`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `tableproduk`
--

/*!50001 DROP VIEW IF EXISTS `tableproduk`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `tableproduk` AS select `p`.`kode_produk` AS `kode_produk`,`p`.`nama_produk` AS `nama_produk`,`p`.`harga_beli` AS `harga_beli`,`p`.`harga_jual` AS `harga_jual`,`p`.`stok_produk` AS `stok_produk`,`p`.`satuan_Id` AS `satuan_Id`,`s`.`nama_satuan` AS `nama_satuan`,`s`.`allow_decimal` AS `allow_decimal`,`sup`.`nama_supplier` AS `nama_supplier`,`k`.`nama_kategori` AS `nama_kategori`,`m`.`nama_merek` AS `nama_merek` from ((((`produk` `p` join `supplier` `sup` on(`p`.`supplier_Id` = `sup`.`supplier_Id`)) join `kategori` `k` on(`p`.`kategori_Id` = `k`.`kategori_Id`)) join `merek` `m` on(`p`.`merek_Id` = `m`.`merek_Id`)) join `satuan` `s` on(`p`.`satuan_Id` = `s`.`satuan_Id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `tableusers`
--

/*!50001 DROP VIEW IF EXISTS `tableusers`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `tableusers` AS select `users`.`user_Id` AS `user_Id`,`users`.`nama_user` AS `nama_user`,`users`.`alamat_user` AS `alamat_user`,`users`.`telp_user` AS `telp_user`,`users`.`username_user` AS `username_user`,`users`.`level_user` AS `level_user`,`users`.`status_user` AS `status_user` from `users` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-24 18:41:17
